<div class="container">
    <h2>TODO LIST</h2>

    <h3>Add Item</h3>
    <form class="addtask-form" (submit)="handleNewTask($event)">
        <input type="text" name='addtask' required />
        <button type="submit">
            <svg style="width: 28px; height: 28px; color: black"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round">  <circle cx="12" cy="12" r="10" />  <line x1="12" y1="8" x2="12" y2="16" />  <line x1="8" y1="12" x2="16" y2="12" /></svg>
        </button>
    </form>

    <h3 *ngIf='showTodoList'>Todo</h3>
    <div class="tasks" *ngFor="let task of tasks;">
        <form *ngIf="!task.completedStatus" [ngClass]="task.editStatus ? 'editMode' : ''">
            <input [attr.taskId]="task.id" type="checkbox" (change)="handleCheckbox($event)" />
            <label>{{ task.name }}</label>
            <input type="text" [value]="task.name" name='updatetask' required />
            <button (click)="handleEdit($event)" [attr.taskId]="task.id">
                <svg style="width: 28px; height: 28px; color: black"  width="24"  height="24"  viewBox="0 0 24 24"  xmlns="http://www.w3.org/2000/svg"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round">  <path d="M11 4H4a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2v-7" />  <path d="M18.5 2.5a2.121 2.121 0 0 1 3 3L12 15l-4 1 1-4 9.5-9.5z" /></svg>
            </button>
            <button (click)="handleDelete($event)" [attr.taskId]="task.id">
                <svg style="width: 28px; height: 28px; color: black" viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round">  <polyline points="3 6 5 6 21 6" />  <path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2" />  <line x1="10" y1="11" x2="10" y2="17" />  <line x1="14" y1="11" x2="14" y2="17" /></svg>
            </button>
        </form>
    </div>

    <h3 *ngIf="showCompletedList">Completed</h3>
    <div class="completed-tasks tasks" *ngFor="let task of tasks;">
        <form *ngIf="task.completedStatus" [ngClass]="task.editStatus ? 'editMode' : ''">
            <input [attr.taskId]="task.id" type="checkbox" (change)="handleCheckbox($event)" checked />
            <label>{{ task.name }}</label>
            <input type="text" [value]="task.name" name='updatetask' required />
            <button (click)="handleEdit($event)" [attr.taskId]="task.id">
                <svg style="width: 28px; height: 28px; color: black"  width="24"  height="24"  viewBox="0 0 24 24"  xmlns="http://www.w3.org/2000/svg"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round">  <path d="M11 4H4a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2v-7" />  <path d="M18.5 2.5a2.121 2.121 0 0 1 3 3L12 15l-4 1 1-4 9.5-9.5z" /></svg>
            </button>
            <button (click)="handleDelete($event)" [attr.taskId]="task.id">
                <svg style="width: 28px; height: 28px; color: black" viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round">  <polyline points="3 6 5 6 21 6" />  <path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2" />  <line x1="10" y1="11" x2="10" y2="17" />  <line x1="14" y1="11" x2="14" y2="17" /></svg>
            </button>
        </form>
    </div>
</div>