<div class="container">
    <h2>TODO LIST</h2>

    <h3>Add Item</h3>
    <form class="addtask-form" (submit)="handleNewTask($event)">
        <input type="text" name='addtask' required placeholder="Enter Task" />
        <button type="submit">
            <svg style="width: 28px; height: 28px; color: black"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round">  <circle cx="12" cy="12" r="10" />  <line x1="12" y1="8" x2="12" y2="16" />  <line x1="8" y1="12" x2="16" y2="12" /></svg>
        </button>
    </form>

    <h3 *ngIf='showTodoList'>Todo</h3>
    <div *ngFor="let task of tasks;">
        <app-task-form *ngIf="!task.completedStatus" (completeTask)="handleCheckbox($event)" [todoTask]="task" (updateTask)="handleEdit($event)" (deleteTask)="handleDelete($event)"></app-task-form>
    </div>

    <h3 *ngIf="showCompletedList">Completed</h3>
    <div *ngFor="let task of tasks;">
        <app-task-form *ngIf="task.completedStatus" (completeTask)="handleCheckbox($event)" [todoTask]="task" (updateTask)="handleEdit($event)" (deleteTask)="handleDelete($event)"></app-task-form>
    </div>
</div>